/* reglab2.css */

.alert {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #e2e3e5;
    color: #383d41;
}

.Evaluacion {
    margin-bottom: 5px; /* Further reduced margin */
    padding: 5px; /* Further reduced padding */
}

.selection {
    font-size: 1.2rem; /* Slightly smaller font size */
    color: black;
    cursor: pointer;
    margin-bottom: 2px; /* Further reduced margin */
    background-color: lightgrey; /* Ensure background color is applied */
    padding: 5px; /* Further reduced padding */
    border-radius: 15px; /* Apply border-radius for rounded corners */
    display: inline-block; /* Ensure it doesn't take full width */
    width: 150px; /* Fixed width */
    height: 40px; /* Fixed height */
    line-height: 30px; /* Center text vertically */
    text-align: center; /* Center text horizontally */
}

.response {
    font-size: 1rem; /* Slightly smaller font size */
    color: black;
}

.right .text-success {
    color: green;
}

.wrong {
    color: red;
}